<ion-view view-title="Settings">
	<ion-content>
		<ion-list>

			<ion-item>

				<label class="item item-input item-floating-label">
					<span class="input-label">Old password</span>
					<input type="password" placeholder="Old password" ng-model="userPass">
				</label>

				<label class="item item-input item-floating-label">
					<span class="input-label">Enter new password</span>
					<input type="password" placeholder="Enter new password" ng-model="userPass1">
				</label>

				<label class="item item-input item-floating-label">
					<span class="input-label">Confirm new password</span>
					<input type="password" placeholder="Confirm new password" ng-model="userPass2">
				</label>

				<button class="button button-block button-assertive" ng-click="MakeNewPass(userPass,userPass1,userPass2)">
					Reset password
				</button>


			</ion-item>

			<ion-item>
				<button class="button button-block button-assertive" ng-click="LogOut()">
					Log out
				</button>

			</ion-item>

		</ion-list>
	</ion-content>
</ion-view>
