<ion-view view-title="Friends" ng-init = "searchFound = null">
	<ion-content>
		<div class="bar bar-header item-input-inset">
			<label class="item-input-wrapper">
				<i class="icon ion-ios-search placeholder-icon"></i>
				<input type="search" placeholder="..." ng-model="userQuery" ng-change = "searchFound = null">
			</label>
	
			<button class="button button-clear" ng-click = "searchFound = true; userSearch(userQuery)">
				Search
			</button>
		</div>

	<ion-list ng-if="searchFound && userQuery">
		<ion-item class="item-icon-left item-icon-right" ng-click = "addToFriends()">
			<i class="icon ion-android-person"></i>
			<h2>{{userQuery}}</h2>
			<p>Maybe a new Steve Jobs</p>
			<i class="icon ion-android-add"></i>
		</ion-item>
	</ion-list>	

	<ion-list ng-if="!userQuery || !searchFound">
		
		<ion-item class="item-icon-left" href="#/tab/friends/:friendEmail">
			<i class="icon ion-android-person"></i>
			<h2>Lebed Dan</h2>
			<p>Great coder</p>
		</ion-item>
		
		<ion-item class="item-icon-left" href="#/tab/friends/:friendEmail">
			<i class="icon ion-android-person"></i>
			<h2>Alasheev Alex</h2>
			<p>Great guy</p>
		</ion-item>

		<ion-item class="item-icon-left" href="#/tab/friends/:friendEmail">
			<i class="icon ion-android-person"></i>
			<h2>Mishin Denis</h2>
			<p>Future scientist</p>
		</ion-item>
	</ion-list>
	
	</ion-content>
</ion-view>
