<ion-view view-title="Friends" ng-init = "searchFound = null">
	<ion-content>
		<div class="bar bar-header item-input-inset">
			<label class="item-input-wrapper">
				<i class="icon ion-ios-search placeholder-icon"></i>
				<input type="search" placeholder="..." ng-model="userQuery" ng-change = "searchFound = null">
			</label>
	
			<button class="button button-clear" ng-click = "searchFound = true; userSearch(userQuery)">
				Search
			</button>
		</div>

	<ion-list ng-if="searchFound && userQuery">
		<ion-item class="item-icon-left item-icon-right" ng-click = "addToFriends(userQuery)">
			<i class="icon ion-android-person"></i>
			<h2>{{userQuery}}</h2>
			<i class="icon ion-android-add"></i>
		</ion-item>
	</ion-list>	

	<ion-list ng-if="!userQuery || !searchFound">
		
		<ion-item class="item-icon-left item-remove-animate" href="#/tab/friends/{{email}}" ng-repeat="(email,details) in friendsList">
			<i class="icon ion-android-person"></i>

			<h2>{{details.name}}</h2>

			<ion-option-button class="button-assertive" ng-click="ShowConfirm(email)">
				Delete
			</ion-option-button>

		</ion-item>
	</ion-list>
	
	</ion-content>
</ion-view>
